#bloc
{
    
    background-color: azure;
    height: 800px ;
    text-align: center;
    margin-top: 50px;
    padding-top: 100px;
    width: 100%;
    display: flex;
    gap: 100px;
    justify-content: center;
}
h1
{
    color : blue ;
}
#premiere
{
    width: 300px;
}
form
{
    text-align: center;
    height: 250px;
    margin-right: 50%;
    background-color: white;
    border-radius: 2px 2px 2px 2px ;
    box-shadow: 2px 2px 2px 2px rgb(143, 142, 142);
    width: 400px;
}
input
{
    width: 85%;
    margin: 10px 10px 10px 10px ;
    border-radius: 2px 2px 2px 2px ;
    border-color: rgb(192, 191, 190);
    border: solid rgb(179, 176, 176) 0.5px;
    height: 25px;
}
#login
{
    background-color: rgb(90, 90, 247);
    color: white;
    width: 85%;
    height: 25px;
    border: none;
    border-radius: 2px 2px 2px 2px ;
    margin-top: 5px;
}
#form
{
    color: blue;  
}
hr
{
    width: 85%;
}
#create
{
    background-color: rgb(42, 214, 42);
    color: white;
    border-radius: 2px 2px 2px 2px ;
    border: none;
    margin-top: 5px;
    height: 25px;
    
}
span
{
    font-weight: bold;
}