main
{
    display: grid;
    grid-template-columns: repeat(3,200px);
    grid-auto-rows: 200px;
    grid-gap: 10px;
    grid-template-areas: "first second second " 
                          "first third fourth"
                          "fifth fifth fourth"
                          "sixth seventh seventh";
    justify-content: center;
}
div:nth-child(1)
{
    
    grid-area: first;
    background-image: url(ani1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
div:nth-child(2)
{
    grid-area: fourth;
    background-image: url(ani2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
div
{
    background-color: black;
    border-radius: 10px;
   
}
div:nth-child(3)
{
    grid-area: fifth;
    background-image: url(ani3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
div:nth-child(4)
{
    grid-area: sixth;
    background-image: url(ani4.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
div:nth-child(5)
{
    grid-area: second;
    background-image: url(maldive.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
div:nth-child(6)
{
    grid-area: third;
    background-image: url(maldive2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
div:nth-child(7)
{
    grid-area: seventh;
    background-image: url(tai.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

