.container
{
    display: flex;
    justify-content: space-between;

}
.Shopping
{
    width: 70%;
}
.Summary
{
    width: 30%;
    background-color: bisque;
}
.shirt,header
{
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.t-shirt
{
    display: flex;
    align-items: center;
}
.unite,.horsreduc,.ptotal
{
    display: flex;
    justify-content: space-between;
    width: 55px;
}
.sum
{
    text-align: center;
    padding: 4px 0 ;

}
.items
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
}
.shipping
{
    width: 300px;
    margin: auto;
    padding-bottom: 50px;
}
.code
{
    width: 300px;
    margin: auto;
    padding-bottom: 50px
}
.total
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}
button
{
    width: 300px;
    text-align: center;
    background-color: black;
    color: aliceblue;
    height: 40px;
    margin: 55px ;
    border-radius: 5px;
}
.Summary hr
{
    width: 80%;
}
.Summary input
{
    height: 30px;
    background-color: bisque;
    width: 300px;
    border-radius: 5px;
}
.unite
{
    padding-right: 20px;
}
header
{
    padding: 0 20px;
}
header input
{
    width: 100px;
    border-radius: 5px;
}
.shirt input
{
    width: 20px;
    border-radius: 5px;
}
.Shopping hr
{
    width: 95%;
}